{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Word count</title>
</head>
<body>
    {% block content %}
    <h1>This is the Word counter app</h1>
    <form action="{% url 'count' %}">
        <textarea name="fulltext" id="" cols="50" rows="10"></textarea>
        <br>
        <button type="submit">Count</button>
    </form>
    {% endblock %}
</body>
</html>